<a href="https://colab.research.google.com/github/aastha1993/git_test/blob/master/Aastha_practice_day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df_countries=pd.read_csv("Countries_data.csv")

In [6]:
df_countries.describe()

,indiv_libs_vdem_owid,electdem_vdem_owid,libdem_vdem_owid,Economic.Freedom.Summary.Index,Government.consumption,Transfers.and.subsidies,Government.investment,State.ownership.of.assets,Size.of.Government,Judicial.independence,...,Interest.rate.controls.negative.real.interest.rates.,Credit.market.regulations,Centralized.collective.bargaining,Hours.Regulations,Conscription,Labor.market.regulations,Impartial.Public.Administration,Regulation,regimenarrowcat,id
count,177.000000,177.000000,175.000000,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,...,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,161.000000,182.000000
mean,0.433633,0.271169,0.205794,5.497105,6.397742,8.750740,5.512288,5.014970,6.040210,5.093428,...,7.431721,5.299373,5.899200,5.938018,2.390425,4.702679,4.868891,4.769867,6.919255,91.500000
std,0.308818,0.255504,0.239538,0.990792,1.631789,1.168317,2.535629,1.902797,1.388335,1.520615,...,1.337461,2.879924,0.977878,0.660809,3.361388,0.964482,2.254019,1.060287,14.994989,52.683014
min,0.003000,0.010000,0.011000,3.400000,0.050000,4.480000,-0.940513,0.130000,2.020000,2.250000,...,1.372522,-1.128499,3.652118,2.730000,-6.698552,1.675800,0.260000,2.717774,0.000000,1.000000
25%,0.135000,0.102000,0.044500,4.824416,5.624896,8.386646,4.052806,4.065000,5.135000,4.080000,...,7.017368,3.440618,5.180000,5.721074,0.000000,4.157296,3.236490,4.010850,4.000000,46.250000
50%,0.373000,0.169000,0.096000,5.483484,6.393604,8.949077,5.519734,5.025106,6.041385,5.031735,...,7.439856,5.316401,5.897546,5.953235,2.392234,4.700103,4.750249,4.776903,5.000000,91.500000
75%,0.682000,0.322000,0.244000,6.147837,7.437500,9.596289,7.411258,6.277500,7.107500,5.805000,...,8.000000,7.685331,6.305401,6.326448,3.446890,5.166518,6.270000,5.453524,7.000000,136.750000
max,0.992000,0.905000,0.879000,8.420000,11.037714,10.924050,10.000000,9.310000,9.360000,8.540000,...,10.404420,10.000000,8.187470,7.252726,10.000000,7.910000,9.930000,8.260000,99.000000,182.000000

In [7]:
df_grouped=df_countries.groupby('Regime_type')

In [12]:
df_Countries.groupby('Regime_type')['Size of Government'].describe()

NameError: ignored

In [13]:
df_countries['libdem_vdem_owid_nomiss']=df_countries['libdem_vdem_owid'].fillna(df_countries['libdem_vdem_owid'].mean())

In [14]:
df_countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 44 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Entity                                                182 non-null    object
 1   indiv_libs_vdem_owid                                  177 non-null    float64
 2   electdem_vdem_owid                                    177 non-null    float64
 3   libdem_vdem_owid                                      175 non-null    float64
 4   Countries                                             165 non-null    object
 5   Economic.Freedom.Summary.Index                        182 non-null    float64
 6   Government.consumption                                182 non-null    float64
 7   Transfers.and.subsidies                               182 non-null    float64
 8   Government.investment                                 182 non-null    float64
 9   State.ownership.of.assets                             182 non-null    float64
 10  Size.of.Government                                    182 non-null    float64
 11  Judicial.independence                                 182 non-null    float64
 12  Impartial.courts                                      182 non-null    float64
 13  Integrity.of.the.legal.system                         182 non-null    float64
 14  Legal.enforcement.of.contracts                        182 non-null    float64
 15  Gender.Legal.Rights.Adjustment                        182 non-null    float64
 16  Legal.System...Property.Rights                        182 non-null    float64
 17  Money.growth                                          182 non-null    float64
 18  Standard.deviation.of.inflation                       182 non-null    float64
 19  Inflation..Most.recent.year                           182 non-null    float64
 20  Freedom.to.own.foreign.currency.bank.accounts         182 non-null    float64
 21  Sound.Money                                           182 non-null    float64
 22  Revenue.from.trade.taxes....of.trade.sector.          182 non-null    float64
 23  Tariffs                                               182 non-null    float64
 24  Black.market.exchange.rates                           182 non-null    float64
 25  Financial.Openness                                    182 non-null    float64
 26  Capital.controls                                      182 non-null    float64
 27  Controls.of.the.movement.of.capital.and.people        182 non-null    float64
 28  Freedom.to.trade.Internationally                      182 non-null    float64
 29  Ownership.of.banks                                    182 non-null    float64
 30  Private.sector.credit                                 182 non-null    float64
 31  Interest.rate.controls.negative.real.interest.rates.  182 non-null    float64
 32  Credit.market.regulations                             182 non-null    float64
 33  Centralized.collective.bargaining                     182 non-null    float64
 34  Hours.Regulations                                     182 non-null    float64
 35  Conscription                                          182 non-null    float64
 36  Labor.market.regulations                              182 non-null    float64
 37  Impartial.Public.Administration                       182 non-null    float64
 38  Regulation                                            182 non-null    float64
 39  alliance                                              182 non-null    object
 40  regimenarrowcat                                       161 non-null    float64
 41  Regime_type                                           182 non-null    object
 42  id                                                    182 non-null    int64
 43  libdem_vdem_owid_nomiss                               182 non-null    float64
dtypes: float64(39), int64(1), object(4)
memory usage: 62.7+ KB

In [16]:
type(df_countries.iloc[3]['libdem_vdem_owid'])

numpy.float64

In [17]:
for i in range(0,182):
   if type(df_countries.iloc[1]['libdem_vdem_owid'])==str:
     print("I found a string")

In [18]:
data = {'price': [100, 200, 150, 300]}
df = pd.DataFrame(data)
# Apply a lambda function to calculate discounted price
df['new_price'] = df['price'].apply(lambda x: x * 0.9)

In [20]:
data = {'price': [100, 200, 150, 300]}
df = pd.DataFrame(data)
df['new_price']= df['price']*0.9

In [21]:
df.head()

   price  new_price
0    100       90.0
1    200      180.0
2    150      135.0
3    300      270.0

In [19]:
df.head()

   price  new_price
0    100       90.0
1    200      180.0
2    150      135.0
3    300      270.0

In [23]:
data = {'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
# Define the conditions and corresponding functions/logic
condition1 = df['A'] < 3
function1 = lambda x: x * 2
condition2 = df['A'] >= 3
function2 = lambda x: x + 5
# Apply the functions/logic based on conditions and create the new column
df['C'] = df['C'] = np.where(condition1, function1(df['B']), function2(df['B']))

print(df)

   A   B   C
0  1  10  20
1  2  20  40
2  3  30  35
3  4  40  45
4  5  50  55